body{
    background-color: #f0f0f0;
}
#main{
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}
#principal{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 20px;
}
.textoContador{
    font-size: 18px;
}
.textoRegras p{
    margin: 10px 0;
}
.textoRegras{
    font-size: 20px;
}
button{
    width: 150px;
    height: 50px;
    margin: 50px;
    cursor: pointer;
}

.tower{
    display: flex;
    align-items: center;
    flex-flow:column-reverse;
    background-color: black;
    height: 150px;
    width: 10px;
    margin: 0 15%;
    border-radius: 10px;
}
#disc01{
    width: 120px;
    height: 25px;
    background-color: blue;
    border: 2px solid;
    border-radius: 10px;
}
#disc02{
    width: 90px;
    height: 25px;
    background-color: green;
    border: 2px solid;
    border-radius: 10px;
}
#disc03{
    width: 60px;
    height: 25px;
    background-color: yellow;
    border: 2px solid;
    border-radius: 10px;
}
#disc04{
    width: 30px;
    height: 25px;
    background-color: orange;
    border: 2px solid;
    border-radius: 10px;
}

@media screen and (min-width:800px){
    .tower{
        display: flex;
        align-items: center;
        flex-flow:column-reverse;
        background-color: black;
        height: 150px;
        width: 10px;
    }
    #disc01{
        width: 160px;
        height: 25px;
        background-color: blue;
        border: 2px solid;
    }
    #disc02{
        width: 120px;
        height: 25px;
        background-color: green;
        border: 2px solid;
    }
    #disc03{
        width: 80px;
        height: 25px;
        background-color: yellow;
        border: 2px solid;
    }
    #disc04{
        width: 40px;
        height: 25px;
        background-color: orange;
        border: 2px solid;
    }
}